/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  background-color:rgb(123,0,63);
  color:blue;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
